.checkbox{
    accent-color: var(--LIGHT-GREEN);
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.signup-page {
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 35rem;
    height: auto !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    background: var(--WHITE);
    opacity: 0.77;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.25);
    border-radius: 2.5rem;
}

.signup-title {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 3.84rem;
    line-height: 5.2rem;
    color: var(--LIGHT-GREEN);;

}

.signup-input {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 30rem;
    background: var(--WHITE);

    border: 1px solid VAR(--LIGHT-GREEN);
    box-sizing: border-box;
    border-radius: 100px;
}

.signup-input:focus{
    border: 1px solid VAR(--BLUE-80);

}

.checkbox-signup {
    display: flex;
    width: 30rem;
    gap:1rem;
    align-items: baseline;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 23rem;
    height: 4.5rem;
    color: var(--WHITE);
    font-weight: 700;
    font-size: 1.5rem;
    border:transparent;
    font-family: inherit;
    background: VAR(--LIGHT-GREEN);;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s;
}

.btn-login:hover {
    background: var(--GREEN);
    color: var(--WHITE);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s;
}

.signup-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width:30rem;
    height: 3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--BLACK-100);

}

.signup-link {
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    background-color: white;
    color: green;
    font-weight: bold;
    transition: 0.5s;

}

.signup-link:hover {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: underline;
    font-family: inherit;
    border: transparent;
    background-color: white;
    color: green;
    font-weight: bold;
}