@import "../../styles/utility.css";

body{
    background-color: #f5f5f5;
}


.nav-bar {
    display: flex;
    width: 100%;
    height: auto;
    background: var(--BLACK-100);
    position: sticky;
    top: 0;
    z-index: 2;
}

.btn-icon{
    color: var(--WHITE);
}



.nav--body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.nav--logo{
    position: absolute;
    width: 3rem;
    height: 3rem;
}

.nav--header {
    display: inline;
    align-items: baseline;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 3.5rem;
}

.nav--title {
    cursor: pointer;
    display: inline;
    align-items: center;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 3rem;
    color: var(--LIGHT-GREEN);
}

.nav--search {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 3rem;
}

.clear-icon{
    color: white;
    position: absolute;
    right: -8rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav--search--input {
    width: 40rem;
    border: none;
    height: 3rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.164);
    color: var(--WHITE);
    font-family: inherit;
    border-radius: 0.5rem;
}
  
.nav--search--btn {
    cursor: pointer;
    border: 1px solid var(--WHITE);
    background-color: transparent;
    color: var(--WHITE);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}



.nav--link {
    text-decoration: none;
    color: var(--WHITE);
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.5rem;
}

.link-btn {
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem !important;
    border-radius: 0.5rem;
}



.btn-solid {
    color: var(--WHITE);
    background-color: var(--LIGHT-GREEN);
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-solid:hover {
    background-color: var(--BLACK-100);
    color: var(--WHITE);;
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav--list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    width: auto;
    list-style: none;

}

.nav--item {
    padding: 0 1rem;
}

.badge--number {
    position: relative;
    aspect-ratio: 1;
    left: 3.8rem;
    top: -1.8rem;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    background-color: var(--LIGHT-GREEN);
    color: var(--BLACK-100);
    padding: 1px 7px;
    border: 2px solid var(--WHITE);
}

.icons {
    font-size: 2.6rem;
    color: inherit;
}

.active{
    color:var(--LIGHT-GREEN) !important;
}

.nav-bar a {
    font-size: 16px;
    padding: 0;
}