.checkout-conatiner{
    min-height: 100vh;
    height: auto;
}

.checkout-details {
    align-items: baseline;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}